*{
margin: 0;
padding: 0;
}

body{
    background-image:url(../img/fondo1.jpg);
    font-size: 18px;
}

#section-general{
    text-align: center;
    margin: 8em 21em;
    max-width: 20em;
    max-height: 20em;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 8px 10px rgba(0, 0, 0, 0.8);
}

.section-formulario{
    background-color: rgba(128, 139, 150, .9);
    border-radius: 4px;
    padding: 4em;
    display: flex;
    flex-direction: column;
}

#article-imagen{
    background-color: rgba( 93, 173, 226, .9);
    border-radius: 0px 4px 4px 0px;
    padding: 40px 6px 15px 2px;
    box-shadow: 6px 0px 8px 10px rgba(0, 0, 0, 0.8);;
}

.texto{
    border-radius: 8px;
    border-color:  rgba( 93, 173, 226);
    width: 100%;
    height: 28%;
    padding-left: 10px;
    margin-bottom: 4px;
    margin-top: 4px;
}

.pass{
    border-radius: 8px;
    border-color: rgba( 93, 173, 226);
    width: 100%;
    height: 28%;
    padding-left: 10px;
}

.boton_1{
    margin-top: 1em;
    border-radius: 18px;
    width: 80%;
    height: 32%;
    padding: 8px 40px;
    background-color: skyblue;
    border-color: rgb(33,97,140);
}

.section-formulario>figure{
    margin-top: -2.6em;
}

.div_1{
    margin-top: 10px;
}